body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #fff;
}

.nav-button,.logout-button input[type="submit"]{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    z-index: 2;
}

.nav-button:hover,.logout-button input[type="submit"]:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    flex-grow: 1;
}

li {
    list-style: none;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    li {
        flex-direction: row;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover; /* This will make the images responsive */
}

.item-content {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-content textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-container input {
    margin-right: 10px;
}

.submit-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: sticky;
}
.submit-button input[type="submit"]{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    z-index: 2;
}
.submit-button input[type="submit"]:hover {
    background-color: #0056b3;
}
