<!-- In 404.html, 401.html, 500.html -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 401: Unauthorised</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='401.css') }}"> <!-- Use appropriate CSS file -->
</head>
<body>
    <div class="error-container">
        <h1>Error 401: Unauthorised</h1>
        <p>U heeft geen toegang tot deze pagina.
            Als u denkt dat dit een fout is, maak dan via de link hieronder een issue aan op Github</p>
        <a href="https://github.com/ZanderCeunen/Posta/issues/new" target="_blank">Rapporteer probleem op GitHub</a>
    </div>
</body>
</html>
