<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404: Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}"> <!-- Use appropriate CSS file -->
</head>
<body>
    <div class="overlay"></div>
    <div class="error-container">
        <h1 id="error-message">Error</h1>
        <p>De pagina die u zoekt kon niet worden gevonden. Kijk na of uw zoekopdracht juist is.</p>
        <p>Als dit probleem zich blijft voordoen, maak via deze <a href="https://github.com/ZanderCeunen/Posta/issues/new" target="_blank">link</a> een issue aan op GitHub.</p>
        <a href="/" class="return-button">Terug naar de hoofdpagina</a>
    </div>

    <script>
        // Lijst met willekeurige zinnen
        var errorMessages = [
            "Fout, bal buiten de lijnen! Deze pagina is zoekgeslagen.",
            "Sorry, de pagina kon geen ace slaan en is verdwaald in het web.",
            "Game, set, mismatch! Deze pagina is van de baan verdwenen."
        ];

        // Kies een willekeurige zin uit de lijst
        var randomIndex = Math.floor(Math.random() * errorMessages.length);
        var errorMessage = errorMessages[randomIndex];

        // Voeg de willekeurige zin toe aan de h1-tag
        document.getElementById("error-message").textContent = errorMessage;
    </script>
</body>
</html>
