<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Configuratie Menu</title>
    <link rel="stylesheet" href="{{url_for('static', filename='config.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.png') }}">
</head>
<body>
    <a href="/" class="posta-button">Posta</a>
    <a href="/dashboard" class="dashboard-button">Dashboard</a>
    <div class="overlay"></div>
    <div class="config-form">
        <form id="config-form" action="{{url_for('config')}}" method="post" enctype="multipart/form-data">
            <h2>Admin Configuratiemenu</h2>
            <h3>Achtergrondfoto:</h3>
            <label class="background-image">
                <input type="file" id="background-image" name="background-image" accept="image/png">
                Kies een foto<br>
            </label><br>
            <img id="achtergrondVoorbeeld" src="#"><br>

            <h3>Logo:</h3>
            <label class="logo-image">
                <input type="file" id="logo-image" name="logo-image" accept="image/png">
                Kies een foto<br>
            </label><br>
            <img id="iconVoorbeeld" src="##"><br>

            <h3>Taal (still in dev):</h3>
            <select name="language" id="language">
              <option value="Nl">Nederlands</option>
              <option value="En">English</option>
            </select><br><br>

            <h3>Sitetitel:</h3>
            <input type="text" name="site-title" id="site-title" placeholder="Sitetitel"><br><br>

            <h3>Domein:</h3>
            <input type="text" name="domain" id="domain" placeholder="Domein"><br><br>

            <h3>Facebook app ID:</h3>
            <input type="text" name="fb_app_id" id="fb_app_id" placeholder="App ID"><br><br>

            <h3>Facebook ID:</h3>
            <input type="text" name="fb_id" id="fb_id" placeholder="ID"><br><br>

            <h3>Facebook Token:</h3>
            <input type="text" name="fb_token" id="fb_token" placeholder="Token"><br><br>

            <h3>Facebook Secret:</h3>
            <input type="password" name="fb_secret" id="fb_secret" placeholder="Secret"><br><br>

            <h3>Password:</h3>
            <input type="password" name="password" id="password" placeholder="Wachtwoord"><br><br>

            <input type="submit" value="Opslaan">
        </form>
    </div>
    <div class="popup" id="popup">
        <p></p>
    </div>
    <script>
        const background = document.getElementById('background-image');
        const icon = document.getElementById('logo-image');
        const achtergrondVoorbeeld = document.getElementById('achtergrondVoorbeeld');
        const iconVoorbeeld = document.getElementById('iconVoorbeeld');

        background.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                    achtergrondVoorbeeld.style.display = 'block';
                    achtergrondVoorbeeld.src = reader.result;
                }
                reader.readAsDataURL(file);
            } else {
                achtergrondVoorbeeld.style.display = 'none';
                achtergrondVoorbeeld.src = '#';
            }
        });
        icon.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                    iconVoorbeeld.style.display = 'block';
                    iconVoorbeeld.src = reader.result;
                }
                reader.readAsDataURL(file);
            }
            else {
                iconVoorbeeld.style.display = 'none';
                iconVoorbeeld.src = '##';
            }
        });
        document.getElementById("config-form").addEventListener("submit", function(event) {
          event.preventDefault();
          const error = "{{ error }}";

          // Display the popup
          var popup = document.getElementById("popup");
          if (error == 0) {
            popup.innerHTML = "Saved Succesfully!";
            popup.style.backgroundColor = "#00cf00"
          }
          else{
            popup.innerHTML = "An Error Occurred While Saving, Please Try Again!";
            console.log(error);
            popup.style.backgroundColor = "#cf0000"
          }
          document.getElementById("config-form").reset();
          document.getElementById("config-form").scrollTop = 0;
          popup.style.display = "block";
          // Fade in the popup
              setTimeout(function() {
                popup.style.opacity = "1";

                // Fade out the popup after 2 seconds
                setTimeout(function() {
                  popup.style.opacity = "0";

                  // Hide the popup and overlay after fade out
                  setTimeout(function() {
                    popup.style.display = "none";
                  }, 400); // Change the duration of the fadeout animation (in milliseconds) as needed
                }, 5000); // Change the duration of the delay before fading out (in milliseconds) as needed
              }, 50); // Change the delay before fading in the popup (in milliseconds) as needed
            });
    </script>
</body>
</html>
